/* 이전 버튼 스타일 */
.swiper-button-prev {
  /* @media (max-width: 768px) {
    margin-right:50px;
  } */
  
  color: #0446ff;
}

/* 다음 버튼 스타일 */
.swiper-button-next {
  color: #0446ff;
}

@media (max-width: 768px) {
  /* 이전 버튼을 왼쪽으로 이동 */
  .swiper-button-prev {
    margin-right: 50px;
  }
}
