/* .ant-select.ant-picker-calendar-month-select.css-dev-only-do-not-override-1vr7spz.ant-select-single.ant-select-show-arrow {
  display: none !important;
}

.ant-radio-button {
  display: none !important;
} */

.ant-radio-group.ant-radio-group-outline.ant-picker-calendar-mode-switch.css-dev-only-do-not-override-1vr7spz {
  display: none !important;
}
